<%- include('../layout/admin/header.ejs') -%>

            <section class="content-main">
                <form method="post" id="form" enctype="multipart/form-data">
                <div class="row">
                    
                    <div class="col-9">
                        <div class="content-header">
                            <h2 class="content-title">Add New Product</h2>
                            <div>
                                <button class="btn btn-light rounded font-sm mr-5 text-body hover-up">Save to draft</button>
                                <button class="btn btn-md rounded font-sm hover-up" type="submit">Publish</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        
                        <div class="card mb-4">
                            <div class="card-header">
                                <h4>Product Details</h4>
                            </div>
                            
                            <div class="card-body">
                                
                                    <div class="mb-4">
                                        <label for="product_name" class="form-label">Product Name</label>
                                        <input type="text" name="name" placeholder="Type here" class="form-control" id="name" />
                                        <div class="error" id="error-name"></div>
                                    </div>

                                    
                                    <!-- <div class="mb-4">
                                        <label class="form-label">Full description</label>
                                        <textarea placeholder="Type here" class="form-control" rows="4"></textarea>
                                    </div> -->
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="mb-4">
                                                <label class="form-label">Quantity</label>
                                                <div class="row gx-2">
                                                    <input placeholder="0" name="quantity" type="number" id="quantity" class="form-control" />
                                                </div>
                                                <div class="error" id="error-quantity"></div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-4">
                                                <label class="form-label">Product Price</label>
                                                <input placeholder="₹" name="price" type="text" id="price" class="form-control" />
                                                <div class="error" id="error-price"></div>
                                            </div>
                                            
                                        </div>

                                        <div class="col-sm-6 mb-3">
                                            <label class="form-label">Category</label>
                                            <select name="category" id="category" class="form-select">
                                                <% for (let i=0;i< Category.length;i++) { %>
                                                <option><%= Category[i].name %></option>
                                            <% } %> 
                                            </select>
                                            <div class="error" id="error-category"></div>
                                            
                                        </div>

                                        <!-- <div class="col-lg-4">
                                            <label class="form-label">Currency</label>
                                            <select class="form-select">
                                                <option>USD</option>
                                                <option>EUR</option>
                                                <option>RUBL</option>
                                            </select>
                                        </div> -->
                                    </div>
                                    <!-- <div class="mb-4">
                                        <label class="form-label">Tax rate</label>
                                        <input type="text" placeholder="%" class="form-control" id="product_name" />
                                    </div> -->
                                    <label class="form-check mb-4">
                                        <input class="form-check-input" type="checkbox" value="" />
                                        <span class="form-check-label"> Make a template </span>
                                    </label>
                                
                            </div>
                        
                        </div>
                        <!-- card end// -->
                        <!-- <div class="card mb-4">
                            <div class="card-header">
                                <h4>Shipping</h4>
                            </div>
                            <div class="card-body">
                                <form>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="mb-4">
                                                <label for="product_name" class="form-label">Width</label>
                                                <input type="text" placeholder="inch" class="form-control" id="product_name" />
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-4">
                                                <label for="product_name" class="form-label">Height</label>
                                                <input type="text" placeholder="inch" class="form-control" id="product_name" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-4">
                                        <label for="product_name" class="form-label">Weight</label>
                                        <input type="text" placeholder="gam" class="form-control" id="product_name" />
                                    </div>
                                    <div class="mb-4">
                                        <label for="product_name" class="form-label">Shipping fees</label>
                                        <input type="text" placeholder="₹" class="form-control" id="product_name" />
                                    </div>
                                </form>
                            </div>
                        </div> -->
                        <!-- card end// -->
                    
                    </div>
                    <div class="col-lg-3">
                        <div class="card mb-4">
                            <div class="card-header">
                                <h4>Media</h4>
                            </div>
                            <div class="card-body">
                                <div class="input-upload">
                                    <img src="asset/imgs/theme/upload.svg" alt="" />
                                    <p class="text-start">Image 1</p>
                                    <input class="form-control" type="file" name="image1" multiple />
                                    <br>
                                    <p class="text-start">Image 2</p>
                                    <input class="form-control" type="file" name="image2" />
                                    <br>
                                    <p class="text-start">Image 3</p>
                                    <input class="form-control" type="file" name="image3" />
                                    <br>
                                    <p class="text-start">Image 4</p>
                                    <input class="form-control" type="file" name="image4" />
                                    
                                </div>
                            </div>
                        </div>
                        <!-- card end// -->
                        <!-- <div class="card mb-4">
                            <div class="card-header">
                                <h4>Organization</h4>
                            </div>
                            <div class="card-body">
                                <div class="row gx-2">
                                    
                                    <div class="col-sm-6 mb-3">
                                        <label class="form-label">Sub-category</label>
                                        <select class="form-select">
                                            <option>Nissan</option>
                                            <option>Honda</option>
                                            <option>Mercedes</option>
                                            <option>Chevrolet</option>
                                        </select>
                                    </div>
                                    <div class="mb-4">
                                        <label for="product_name" class="form-label">Tags</label>
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>
                                row.//
                            </div>
                        </div> -->
                        <!-- card end// -->
                    </div>
                
                </div>
            </form>
            </section>
            <!-- content-main end// -->
            <script src="/asset/js/productValidation.js"></script>
 
            <%- include('../layout/admin/footer.ejs') -%>
