<!DOCTYPE html>
<html lang="en">
<!-- Mirrored from portotheme.com/html/molla/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 07 Jan 2024 09:06:59 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Molla Furniture</title>
  <meta name="keywords" content="HTML5 Template" />
  <meta name="description" content="Molla Furniture" />
  <meta name="author" content="p-themes" />
  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="assets/images/icons/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="assets/images/icons/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="assets/images/icons/favicon-16x16.png" />
  <link rel="manifest" href="assets/images/icons/site.html" />
  <link rel="mask-icon" href="assets/images/icons/safari-pinned-tab.svg" color="#666666" />
  <link rel="shortcut icon" href="assets/images/icons/favicon.ico" />
  <meta name="apple-mobile-web-app-title" content="Molla" />
  <meta name="application-name" content="Molla" />
  <meta name="msapplication-TileColor" content="#cc9966" />
  <meta name="msapplication-config" content="assets/images/icons/browserconfig.xml" />
  <meta name="theme-color" content="#ffffff" />
  <!-- Plugins CSS File -->
  <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
  <!-- Main CSS File -->
  <link rel="stylesheet" href="assets/css/style.css" />
</head>

<body>
  <div class="page-wrapper">
    <header class="header">
      <div class="header-top">
        <div class="container">
          <div class="header-left">
            <div class="header-dropdown">
              <a href="#">INR</a>
              
              <!-- End .header-menu -->
            </div>
            <!-- End .header-dropdown -->

            <div class="header-dropdown">
              <a href="#">Eng</a>
              
            </div>
            <!-- End .header-dropdown -->
          </div>
          <!-- End .header-left -->

          <div class="header-right">
            <ul class="top-menu">
              <li>
                <a href="#">Links</a>
                <ul>
                  <li>
                    <a href="tel:#"><i class="icon-phone"></i>Call: +91 974680 7689</a>
                  </li>
                  
                  <li><a href="comingSoon">About Us</a></li>
                  <li><a href="comingSoon">Contact Us</a></li>
                  <li>
                    <a href="/signup"><i class="icon-user"></i>Signup</a>
                  </li>
                </ul>
              </li>
            </ul>
            <!-- End .top-menu -->
          </div>
          <!-- End .header-right -->
        </div>
        <!-- End .container -->
      </div>
      <!-- End .header-top -->

      <div class="header-middle sticky-header">
        <div class="container">
          <div class="header-left">
            <button class="mobile-menu-toggler">
              <span class="sr-only">Toggle mobile menu</span>
              <i class="icon-bars"></i>
            </button>

            <a href="index.html" class="logo">
              <img src="assets/images/logo.png" alt="Molla Logo" width="105" height="25" />
            </a>

            <nav class="main-nav">
              <ul class="menu sf-arrows">
                <li class="megamenu-container active">
                  <a href="/" >Home</a>
                </li>
                <li>
                  <a href="shopPage" >Shop</a>

                  
                </li>
                <li>
                  <a href="comingSoon" >New</a>

                  
                </li>
                <li>
                  <a href="comingSoon" >Pages</a>

                  
                </li>
                <li>
                  <a href="comingSoon">Blog</a>

                  
                </li>
                <li>
                  <a href="comingSoon" class="sf-with-ul">Elements</a>

                  
                </li>
              </ul>
              <!-- End .menu -->
            </nav>
            <!-- End .main-nav -->
          </div>
          <!-- End .header-left -->

          
        </div>
        <!-- End .container -->
      </div>
      <!-- End .header-middle -->
    </header>
    <!-- End .header -->

    <main class="main">
      <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
        <div class="container">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Login</li>
          </ol>
        </div>
        <!-- End .container -->
      </nav>
      <!-- End .breadcrumb-nav -->

      <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17" style="
            background-image: url('assets/images/backgrounds/login-bg.jpg');
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
          ">
        <div class="container">
          <div class="form-box">
            <div class="form-tab">
              <ul class="nav nav-pills nav-fill" role="tablist">
                <li class="nav-item">
                  <a class="nav-link" id="signin-tab-2" data-toggle="tab" href="#signin-2" role="tab"
                    aria-controls="signin-2" aria-selected="false">Sign In</a>
                </li>
              </ul>
              <div class="tab-content">
                <%if(typeof message !='undefined' ) {%>
                  <h1 class="login-message">
                    <%=message%>
                  </h1>
                  <%}%>

                    <div class="tab-pane fade show active" id="register-2" role="tabpanel"
                      aria-labelledby="register-tab-2">
                      <form method="post" id="form">
                        <div class="form-group">
                          <label for="register-email-2">Your email address *</label>
                          <input type="email" class="form-control" id="login-email" name="email" />
                          <div class="login-error" id="loginEmailError"></div>
                        </div>
                        <!-- End .form-group -->

                        <div class="form-group">
                          <label for="register-password-2">Password *</label>
                          <input type="password" class="form-control" id="login-password" name="password" />
                          <div class="login-error" id="loginPasswordError"></div>
                        </div>
                        <!-- End .form-group -->

                        <div class="form-footer">
                          <button type="submit" class="btn btn-outline-primary-2">
                            <span>SIGN IN</span>
                            <i class="icon-long-arrow-right"></i>
                          </button>
                        </div>
                        <!-- End .form-footer -->
                      </form>
                      <div class="form-choice">
                        <p class="text-center">
                          Dont have any account?
                          <a href="/signup">Create a account</a>
                        </p>
                        <div class="row"></div>
                        <!-- End .row -->
                      </div>
                      <div class="form-choice">
                        <p class="text-center">
                          <a href="#">Forgot password</a>
                        </p>

                        <!-- End .row -->
                      </div>
                      <!-- End .form-choice -->
                    </div>
                    <!-- .End .tab-pane -->
              </div>
              <!-- End .tab-content -->
            </div>
            <!-- End .form-tab -->
          </div>
          <!-- End .form-box -->
        </div>
        <!-- End .container -->
      </div>
      <!-- End .login-page section-bg -->
    </main>
    <!-- End .main -->

    <footer class="footer">
      <div class="footer-middle">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-lg-3">
              <div class="widget widget-about">
                <img src="assets/images/logo.png" class="footer-logo" alt="Footer Logo" width="105" height="25" />
                <p>
                  Praesent dapibus, neque id cursus ucibus, tortor neque
                  egestas augue, eu vulputate magna eros eu erat.
                </p>

                <div class="social-icons">
                  <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                  <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                  <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                  <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
                  <a href="#" class="social-icon" target="_blank" title="Pinterest"><i class="icon-pinterest"></i></a>
                </div>
                <!-- End .soial-icons -->
              </div>
              <!-- End .widget about-widget -->
            </div>
            <!-- End .col-sm-6 col-lg-3 -->

            <div class="col-sm-6 col-lg-3">
              <div class="widget">
                <h4 class="widget-title">Useful Links</h4>
                <!-- End .widget-title -->

                <ul class="widget-list">
                  <li><a href="comingSoon">About Molla</a></li>
                  <li><a href="comingSoon">How to shop on Molla</a></li>
                  <li><a href="comingSoon">FAQ</a></li>
                  <li><a href="comingSoon">Contact us</a></li>
                  <li><a href="/login">Log in</a></li>
                </ul>
                <!-- End .widget-list -->
              </div>
              <!-- End .widget -->
            </div>
            <!-- End .col-sm-6 col-lg-3 -->

            <div class="col-sm-6 col-lg-3">
              <div class="widget">
                <h4 class="widget-title">Customer Service</h4>
                <!-- End .widget-title -->

                <ul class="widget-list">
                  <li><a href="comingSoon">Payment Methods</a></li>
                  <li><a href="comingSoon">Money-back guarantee!</a></li>
                  <li><a href="comingSoon">Returns</a></li>
                  <li><a href="comingSoon">Shipping</a></li>
                  <li><a href="comingSoon">Terms and conditions</a></li>
                  <li><a href="comingSoon">Privacy Policy</a></li>
                </ul>
                <!-- End .widget-list -->
              </div>
              <!-- End .widget -->
            </div>
            <!-- End .col-sm-6 col-lg-3 -->

            <div class="col-sm-6 col-lg-3">
              <div class="widget">
                <h4 class="widget-title">My Account</h4>
                <!-- End .widget-title -->

                <ul class="widget-list">
                  <li><a href="/login">Sign In</a></li>
                  <li><a href="cart">View Cart</a></li>
                  <li><a href="wishlist">My Wishlist</a></li>
                  <li><a href="comingSoon">Track My Order</a></li>
                  <li><a href="comingSoon">Help</a></li>
                </ul>
                <!-- End .widget-list -->
              </div>
              <!-- End .widget -->
            </div>
            <!-- End .col-sm-6 col-lg-3 -->
          </div>
          <!-- End .row -->
        </div>
        <!-- End .container -->
      </div>
      <!-- End .footer-middle -->

      <div class="footer-bottom">
        <div class="container">
          <p class="footer-copyright">
            Copyright © 2019 Molla Store. All Rights Reserved.
          </p>
          <!-- End .footer-copyright -->
          <figure class="footer-payments">
            <img src="assets/images/payments.png" alt="Payment methods" width="272" height="20" />
          </figure>
          <!-- End .footer-payments -->
        </div>
        <!-- End .container -->
      </div>
      <!-- End .footer-bottom -->
    </footer>
    <!-- End .footer -->
  </div>
  <!-- End .page-wrapper -->
  <button id="scroll-top" title="Back to Top">
    <i class="icon-arrow-up"></i>
  </button>

  <!-- Mobile Menu -->
  <div class="mobile-menu-overlay"></div>
  <!-- End .mobil-menu-overlay -->

  <div class="mobile-menu-container">
    <div class="mobile-menu-wrapper">
      <span class="mobile-menu-close"><i class="icon-close"></i></span>

      <form action="#" method="get" class="mobile-search">
        <label for="mobile-search" class="sr-only">Search</label>
        <input type="search" class="form-control" name="mobile-search" id="mobile-search" placeholder="Search in..."
          required />
        <button class="btn btn-primary" type="submit">
          <i class="icon-search"></i>
        </button>
      </form>

      <nav class="mobile-nav">
        <ul class="mobile-menu">
          <li class="active">
            <a href="/">Home</a>
          </li>
          <li>
            <a href="shopPage">Shop</a>
            
          </li>
          <li>
            <a href="comingSoon">New</a>
            
          </li>
          <li>
            <a href="comingSoon">Pages</a>
            
          </li>
          <li>
            <a href="comingSoon">Blog</a>
          </li>
          <li>
            <a href="comingSoon">Elements</a>
            
          </li>
        </ul>
      </nav>
      <!-- End .mobile-nav -->

      <div class="social-icons">
        <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
        <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
        <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
        <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
      </div>
      <!-- End .social-icons -->
    </div>
    <!-- End .mobile-menu-wrapper -->
  </div>
  <!-- End .mobile-menu-container -->

  <!-- Plugins JS File -->
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/bootstrap.bundle.min.js"></script>
  <script src="assets/js/jquery.hoverIntent.min.js"></script>
  <script src="assets/js/jquery.waypoints.min.js"></script>
  <script src="assets/js/superfish.min.js"></script>
  <script src="assets/js/owl.carousel.min.js"></script>
  <script defer src="assets/js/login-validation.js"></script>
  <!-- Main JS File -->
  <script src="assets/js/main.js"></script>
</body>

<!-- Mirrored from portotheme.com/html/molla/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 07 Jan 2024 09:07:00 GMT -->

</html>