<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Molla Furniture</title>
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta property="og:title" content="" />
  <meta property="og:type" content="" />
  <meta property="og:url" content="" />
  <meta property="og:image" content="" />
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="asset/imgs/theme/logo-icon.png" />

  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

  
  <!--  Swal  -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <!-- Template CSS -->
  <link href="asset/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div class="screen-overlay"></div>
  <aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
      <a href="index.html" class="brand-wrap">
        <img src="asset/imgs/logo/logo.png" class="logo" alt="Molla Furniture" />
      </a>
      <div>
        <button class="btn btn-icon btn-aside-minimize">
          <i class="text-muted material-icons md-menu_open"></i>
        </button>
      </div>
    </div>
    <nav>
      <ul class="menu-aside">
        <li class="menu-item">
          <a class="menu-link" href="/admin/home">
            <i class="icon material-icons md-home"></i>
            <span class="text">Dashboard</span>
          </a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="/admin/products">
            <i class="icon material-icons md-shopping_bag"></i>
            <span class="text">Products</span>
          </a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="users">
            <i class="icon material-icons md-person"></i>
            <span class="text">Users</span>
          </a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="order">
            <i class="icon material-icons md-shopping_cart"></i>
            <span class="text">Orders</span>
          </a>
        </li> 
        <li class="menu-item">
          <a class="menu-link" href="offer">
            <i class="fas fa-tags fa-md mr-5 ml-5" style=" color: #adb5bd; font-size: 0.9rem;"></i>
            <span style="margin-left: 7px;" class="text">Offers</span>
          </a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="category">
            <i class="icon material-icons md-add_box"></i>
            <span class="text">Category</span>
          </a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="sales">
            <i class="icon material-icons md-monetization_on"></i>
            <span class="text">Sales</span>
          </a>
        </li>
        <!-- <li class="menu-item has-submenu">
          <a class="menu-link" href="#">
            <i class="icon material-icons md-person"></i>
            <span class="text">Account</span>
          </a>
          <div class="submenu">
            <a href="page-account-login.html">User login</a>
            <a href="page-account-register.html">User registration</a>
            <a href="page-error-404.html">Error 404</a>
          </div>
        </li> 
        <li class="menu-item">
          <a class="menu-link" href="page-reviews.html">
            <i class="icon material-icons md-comment"></i>
            <span class="text">Reviews</span>
          </a>
        </li> -->
        <li class="menu-item">
          <a class="menu-link" href="coupon"> <i class="icon material-icons md-stars"></i> <span
              class="text">Coupons</span> </a>
        </li>
        <!-- <li class="menu-item">
          <a class="menu-link" disabled href="#">
            <i class="icon material-icons md-pie_chart"></i>
            <span class="text">Statistics</span>
          </a>
        </li> -->
      </ul>
      <hr />
      <ul class="menu-aside">
        <li class="menu-item">
          <a class="menu-link" href="#">
            <i class="icon material-icons md-settings"></i>
            <span class="text">Settings</span>
          </a>
        </li>
      </ul>
      <br />
      <br />
    </nav>
  </aside>
  <main class="main-wrap">
    <header class="main-header navbar">
      
    </header>
  </main>
</body>

</html>